$myGreen: rgb(179, 255, 80);
$myOragne: #FD7F20;

* {
    margin: 0;
}

h2{
    font-size: 2em;
}

button{
    text-transform: uppercase;
    font-size: 1em;
    border: none;
    padding: 15px 50px;
}

.header {
    background-image: url(/src/imgs/background2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 100px;
    min-height: 800px;
    &__header{
        color: white;
    }
    &__mainHeader{
        font-size: 10em;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    button{
        background-color: $myGreen;
        margin-top: 50px;
    }
}

.nav {
    margin-bottom: 50px;
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 10px;
        &__logo {
            font-weight: bold;
            margin-right: auto;
            text-transform: uppercase;
        }
    
        &__link {
            margin: 0 75px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

.aboutProduct{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    &__header{
        padding-bottom: 25px;
    }
    &__paragraph{
        text-align: center;
        width: 50%;
    }
}

.ourProducts{
    background-color: $myGreen;
    text-align: center;
    padding: 50px;
    &__header{
        padding: 50px;
    }
    &__products{
        list-style: none;
        display: flex;
        justify-content: space-around;
        &__product{
            display: flex;
            flex-direction: column;
            img{
                height: 250px;
            }
            &__name{
                margin: 25px 0;
            }
        }
        button{
            background-color: $myOragne;
        }
    }
}

.gameRules{
    background-image: url('../src/imgs/bg-grid2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    padding: 50px;
    align-items: center;
    &__description{
        padding: 50px;
        &__header{
            margin-bottom: 25px;
        }
    }
    &__image{
        padding: 50px;
    }
}

.footer{
    background-color: rgb(36, 36, 36);
    color: white;
    &__links{
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 30px;
    }
}