@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
}

h2 {
  font-size: 2em;
}

.button {
  text-transform: uppercase;
  font-size: 1em;
  border: none;
  padding: 15px 50px;
  font-family: "Open Sans", sans-serif;
}

.header {
  background-image: url(/src/imgs/background2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 100px;
  min-height: 800px;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 25px;
  }
}
.header__header {
  color: white;
}
.header__mainHeader {
  font-size: 10em;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "Chewy";
}
@media (max-width: 768px) {
  .header__mainHeader {
    font-size: 4em;
  }
}
.header .button {
  background-color: rgb(179, 255, 80);
  margin-top: 50px;
}

.nav {
  margin-bottom: 50px;
}
.nav__toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav__toggle {
    display: block;
    font-size: 2em;
    margin-left: auto;
  }
}
.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
}
@media (max-width: 768px) {
  .nav__items {
    flex-direction: column;
  }
  .nav__items--hidden {
    display: none;
  }
}
.nav__items__logo {
  font-weight: bold;
  margin-right: auto;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .nav__items__logo {
    margin-right: 0;
  }
}
.nav__link {
  margin: 0 75px;
  text-transform: uppercase;
  cursor: pointer;
}

.aboutProduct {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
@media (max-width: 768px) {
  .aboutProduct {
    padding: 25px 0;
  }
}
.aboutProduct__header {
  padding-bottom: 25px;
}
.aboutProduct__paragraph {
  text-align: center;
  width: 50%;
}

.ourProducts {
  background-color: rgb(179, 255, 80);
  text-align: center;
  padding: 50px;
}
@media (max-width: 768px) {
  .ourProducts {
    padding: 25px;
  }
}
.ourProducts__header {
  padding: 50px;
}
.ourProducts__products {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 75px 0;
}
@media (max-width: 768px) {
  .ourProducts__products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.ourProducts__product {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .ourProducts__product {
    margin: 20px 0;
  }
}
.ourProducts__product img {
  height: 250px;
}
.ourProducts__product__name {
  margin: 25px 0;
}
.ourProducts button {
  background-color: #FD7F20;
}

.gameRules {
  background-image: url("../src/imgs/bg-grid2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  padding: 50px;
  align-items: center;
}
@media (max-width: 768px) {
  .gameRules {
    flex-direction: column;
    padding: 0;
  }
}
.gameRules__description {
  padding: 50px;
}
.gameRules__description__header {
  margin-bottom: 25px;
}
.gameRules__image {
  padding: 0 50px 50px;
}
.gameRules__image img {
  max-width: 100%;
}

.footer {
  background-color: rgb(36, 36, 36);
  color: white;
}
.footer__links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
@media (max-width: 768px) {
  .footer__links {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer__link {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=styles.css.map */