$myGreen: rgb(179, 255, 80);
$myOragne: #FD7F20;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
}

h2 {
    font-size: 2em;
}

.button {
    text-transform: uppercase;
    font-size: 1em;
    border: none;
    padding: 15px 50px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url(/src/imgs/background2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 100px;
    min-height: 800px;

    &__header {
        color: white;
    }

    &__mainHeader {
        font-size: 10em;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: 'Chewy';

        @media (max-width: 768px) {
            font-size: 4em;
        }
    }

    .button {
        background-color: $myGreen;
        margin-top: 50px;
    }
}

.nav {
    margin-bottom: 50px;

    &__toggle {
        display: none;
        background: none;
        border: none;
        cursor: pointer;

        @media (max-width: 768px) {
            display: block;
            font-size: 2em;
            margin-left: auto;
        }
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 10px;

        @media (max-width: 768px) {
            flex-direction: column;

            &--hidden {
                display: none;
            }
        }

        &__logo {
            font-weight: bold;
            margin-right: auto;
            text-transform: uppercase;

            @media (max-width: 768px) {
                margin-right: 0;
            }
        }
    }

    &__link {
        margin: 0 75px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.aboutProduct {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

    @media (max-width: 768px) {
        padding: 25px 0;
    }

    &__header {
        padding-bottom: 25px;
    }

    &__paragraph {
        text-align: center;
        width: 50%;
    }
}

.ourProducts {
    background-color: $myGreen;
    text-align: center;
    padding: 50px;

    @media (max-width: 768px) {
        padding: 25px;
    }

    &__header {
        padding: 50px;
    }

    &__products {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 75px 0;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__product {
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            margin: 20px 0;
        }

        img {
            height: 250px;
        }

        &__name {
            margin: 25px 0;
        }
    }

    button {
        background-color: $myOragne;
    }
}

.gameRules {
    background-image: url('../src/imgs/bg-grid2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    padding: 50px;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 0;
    }

    &__description {
        padding: 50px;

        &__header {
            margin-bottom: 25px;
        }
    }

    &__image {
        padding: 0 50px 50px;

        img {
            max-width: 100%;
        }
    }
}

.footer {
    background-color: rgb(36, 36, 36);
    color: white;

    &__links {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 30px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__link {
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }
}